@charset "UTF-8";

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Custom CSS */

body {
  background-color: #1D1E2C;
}

/* Header */
header {
  font-family: 'Droid Serif', sans-serif;
  width: 100%;
  height: 200px;
  color: white;
  position: relative;
  border-bottom: 1px dotted white;
}

header h1 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 15px;
  color: #1BA39C;
  font-size: 64px;
}

header p {
  font-family: 'VT323', sans-serif;
  text-align: center;
  color: #22313F;
}

#breathing-activity {
  width: 100%;
  display: none;
}
/* main */

html,
body {
  width: 100%;
  height: 100%;
}

main {

  width: 100%;
  height: 100%;
  overflow: hidden;
}

main section h1 {
  display: none;
}
/* footer */

footer {
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #181925;
  text-align: right;
}

footer div {
  padding-right: 30px;
  font-family: 'VT323', monospace;
  font-size: 14px;
  letter-spacing: 1px;
  color: #DCC6E0;
}

footer a:link {
  text-decoration: none;
  color: ghostwhite;
}

footer a:visited {
  color: ghostwhite;
}

footer a:hover {
  color: #DCC6E0;
}

footer a:active {
  color: #DCC6E0;
}

#howTo {
  text-align: left;
  float: left;
}

#tooltiptext {
  display: none;
  padding-top: 10px;

}

/* Instructions PopUp */

#instructions {
  background-color: #1D1E2C;
  width: 100%;
  height: 100%;
}

#instructions h1 {
  font-family: 'Droid Serif', serif;
  text-align: center;
}

#instructions p {
  font-family: 'VT323', monospace;
  padding: 15px;
  text-align: center;
  color: ghostwhite;
  letter-spacing: 1px;
}

#floating-boxes img {
  width: 70%;
  max-width: 350px;
  position: relative;
  display: block;
  margin: 0 auto;
}

#floating-boxes {
  /*height: 438px;*/
  height: 70%;
  border-bottom: 1px dotted white;
}

#box1 {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #22313F;
}

#box2 {
  float: right;
  width: 50%;
  height: 100%;
  background-color: #1BA39C;
}

#close,
.actionButton {
  background-color: #1D1E2C;
  display: block;
  color: #1BA39C;
  width: 100px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  border: 2px solid #1BA39C;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  padding: 10px;
  clear: both;
}
