@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
  margin: 0px;
  padding: 0px
}


/* Main */

body {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #FFFAFA;
}

/*article {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background-color: gray;
}*/
main {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  overflow: hidden;
  /*border: 2px solid blue;*/
}

article {
  height: 35%;
  width: 75%;
  padding: 25px;
  visibility: hidden;
  font-family: 'Karla', sans-serif;
  opacity: 0;
}

article div {
  text-align: left;
}

article h3 {
  padding-top: 25px;
  padding-bottom: 3px;
}
article h5 {
  padding-bottom: 10px;
}
section {
  position: relative;
  width: 10%;
  height: 250px;
  float: left;
}

#description-main {
  width: 100%;
}

#description-img {
  width: 200px;
  padding: 16px;
  float: left;
}

#description-text {
  padding: 20px;
  color: #444;
}

#pens {
  clear: both;
}

section img {
  position: relative;
  width: 40%;
}

footer {
  clear: both;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: 'Karla', sans-serif;
}

header {
  text-align: center;
  font-family: 'Karla', sans-serif;
  padding: 40px;
  color: #facac3;
}

h1 {
  font-size: 60px;
  padding-bottom: 15px;
}

#micron {

}

#muji {
  padding-top: 30px;
}

#pilot {
  padding-top: 50px;
}

#prismacolor {
  padding-top: 5px;
}

#stabilo {
  padding-top: 50px;
}

#staedtler {
  padding-top: 10px;
}

#sakura {
  padding-top: 0px;
}

#tombow {
  padding-top: 65px;
}

footer {
  width: 200px;
  position: absolute;
  bottom: 5%;
  left: 87%;
}
footer a:link {
  text-decoration: none;
  color: #facac3;
}

footer a:visited {
  color: #facac3;
}

footer a:hover {
  color: mistyrose;
}

footer a:active {
  color: mistyrose;
}
