@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
  margin: 0px;
  padding: 0px
}

header li {
  display: inline;
}


/* Main */

body {
  width: 80%;
  margin: 0 auto;
}

main {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

section {
  position: relative;
  width: 10%;
  height: 100%;
  float: left;
  border: 2px solid blue;
}


.pen-img {
  position: relative;
  width: 40%;
}

footer {
  clear: both;
}

#muji-38 {
  background-color: silver;
}

#pilot-v5 {
  background-color: teal;
}
