/* Typography */

h2,
h3{
    font-family: 'Oswald', sans-serif;
}

.blog-date {
    color: gainsboro;
    font-family: 'Roboto Condensed', sans-serif;
}


body article p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    line-height: 150%;
    color: #444;
}

#archive ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#archive ul li {
    display: inline-block;
    padding-right: 15px;
}

#archive p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #444;
}

#archive p a{
    color: #444;
}

#archive div p{
    text-align: right;
}

#sidebar ul {
    list-style: none;
    padding-left: 50px;
}

#sidebar ul li p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

#sidebar ul li a:link {
    color: gray;
    text-decoration: none;
    border-bottom: 1.8px dotted gainsboro;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#sidebar ul li a:visited {
    color: gray;
    text-decoration: none;
    border-bottom: 1.8px dotted gainsboro;
}

#sidebar ul li a:hover {
    color: silver;
}

#sidebar ul li a:active {
    color: silver;
    text-decoration: none;
    border-bottom: 1.8px dotted gainsboro;
}

#validation {
    padding-top: 70px;
}

#validation ul li p {
     font-size: 13px;
}

#validation ul li {
    display: inline-block;
    padding-right: 13px;
}
#sidebar div li a:link {
    color: silver;
    border-bottom: none;
}

#sidebar div li a:visited {
    color: silver;
}

#sidebar div li a:hover {
    color: #F62459;
}

#sidebar div li a:active {
    color: #F62459;
}

footer a:link {
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; 
    color: #444;
}

#archive li a:visited {
    color: #444;
}

#archive li a:hover {
    color: silver;
}

#archive li a:active {
    color: silver;
}

#archive h2 {
    color: #F62459;
}

.date {
    color: gainsboro;
}

.blog-body a:link {
    text-decoration: none;
    border-bottom: 1.8px dotted gainsboro;
    transition: color 0.3s ease;
}

.blog-body a:visited {
    text-decoration: none;
    border-bottom: 1.8px dotted gainsboro;

}

.blog-body a:hover {
    color: #F62459;
}


.blog-body a:active {
    text-decoration: none;
    border-bottom: 2px dotted gainsboro;

}
/* Body */

#sidebar {
    background-color: #ECF0F1;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

#profile-img {
    width: 150px;
    margin-top: 40px;
}

#profile {
    margin-left: 50px;
}

.blog-body {
    position: relative;
    left: 250px;
    width: 60%;
    max-width: 800px;
    padding-top: 30px;
    padding-left: 40px;
}


/* Blog Articles */

.left-bar {
    width: 5px;
    height: 30px;
    background-color: #F62459;
    float: left;
    margin-right: 10px;
}

.archive-bar {
    width: 5px;
    height: 120px;
    background-color: #ECF0F1;
    float: left;
    margin-right: 30px;
}

#archive {
    margin-bottom: 45px;
}
.blog-body article {
    /*padding-right: 350px;*/
    border-bottom: 2px dotted gainsboro;
    padding-bottom: 10px;
    margin-bottom: 25px;

}

.blog-body img {
    border: 1px solid gainsboro;
}

.screenshot {
    width: 200px;
}

#fcu_1 {
    margin-right: 30px;
}

#screenshot-article-1 {
    width: 500px;
    margin: 0 auto;
}
