@charset "UTF-8";

/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style the main page */

body {
	font-family: 'Roboto', sans-serif;
}


main {
	width: 75%;
	margin: 0 auto;
	margin-top: 10%;
	text-align: center;
}

main h1 {
	font-size: 80px;
	font-weight: 700;
}

main p {
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 50px;
	font-weight: 700;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 30px;
}
footer li {
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
}

footer a:link {
	text-decoration: none;
}

footer a:visited {
}

footer a:hover {

}

footer a:active {

}

/* Style the tooltips */

.link {
	border-bottom: 1px dotted silver;
}

.tip {
	border-radius: 7px;
	padding: 10px;
	opacity: 0;
}

#whatTip {
	position: absolute;
	float: left;
	width: 135px;
	height: 80px;
  text-align: center;
	margin: 8%;
	background-color: black;
	color: white;
	font-family: Verdana;
}

#doingTip {
	position: absolute;
	left: 60%;
	width: 135px;
	height: 80px;
  text-align: center;
	margin: 8%;
	background-color: black;
	color: white;
	font-family: Verdana;
}

#clockTip {
	position: relative;
  text-align: center;
	margin-left: 8%;
	margin-right: 8%;
	background-color: black;
	color: white;
	font-family: Verdana;
}

#clockTip:before {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
}
